<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BLOG</title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="./assets/css/materialize.min.css">
    <!-- Material Font -->
    <link rel="stylesheet" href="./assets/css/material-font.css">
    <link rel="stylesheet" href="./assets/css/style2.css">
    <!-- Mobile Support -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
             
    <nav>
        <div class="nav-wrapper">
        <a href="#" class="brand-logo">Jufel Villa</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="index.html">Home</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="blog.html">Blog</a></li>
           <li><a href="logout.html">logout</a></li>
        </ul>
        </div>
        <div style="padding-top: 500px;">
            <nav>
                <div class="nav-wrapper" >
                <a href="#" class="brand-logo"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                   
                </ul>
                </div>
            </nav>
            </div>
    </nav>

   
        	
	<html>
  <head>
    <title>My To Do List</title>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      <h1 class>Todo App</h1>
      <todo-form @todo-created="addTodo"></todo-form>
      <todo-list :todos="todos"></todo-list>
    </div>
    <script type="text/javascript">
      // Our app here
      Vue.component('todo-form', {
        template: '<form @submit.prevent="todoEvent"><input type="text" v-model="newTodo">' +
                  '<input type="submit" value="Add"></form>',
        data: function () {
          return {
            newTodo: ''
          }
        },
        methods: {
          todoEvent: function () {
            this.$emit('todo-created', this.newTodo);
            this.newTodo = '';
          }
        }
      });
      Vue.component('todo-list', {
        template: '<ul><li v-for="todo in todos">{{ todo }}</li></ul>',
        props: ['todos']
      });
      new Vue({
        el: '#app',
        data: {
          'todos': []
        },
        methods: {
          addTodo: function (todo) {
            this.todos.push(todo);
          }
        }
      });
    </script>
  </body>
</html>
          
        
        




    <!-- Material JS -->
    <script src="./assets/js/materialize.min.js"></script>
    <script src="./assets/js/main.js"></script>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
        var elems = document.querySelectorAll('.scrollspy');
        var instances = M.ScrollSpy.init(elems);
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
    </script>
    
</body>
</html>